body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: 80px;
  background-color: #4f4f4f;
  align-items: center;
  padding: 0 10%;
  color: #fff;
  font-size: 0.8rem;
  position: relative;
}
.nav ul li {
  display: inline;
  margin: 5px;
}
.nav a {
  color: #fff;
}
.nav .home {
  display: flex;
  align-items: center;
}
.nav .home > img {
  border-radius: 50%;
  margin-right: 20px;
}

.nav .mobile-nav{
  position: absolute;
  background-color: #4f4f4f;
  top:-200px;
  height: auto;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav .mobile-nav ul{
  margin: 0;
  padding: 0;
}
.nav .mobile-nav ul li{
  display: block;
  padding: 10px 10px;
}
.nav .mobile-nav ul li:hover{
  background-color: #3d4455;
}
.indexPage .banner {
  overflow: hidden;
  position: relative;
}
.indexPage .banner > .slide {
  width: 10000px;
  height: 30vw;
  min-height: 100px;
  display: block;
  padding-inline-start: 0px;
  list-style: none; /* 将默认的列表符号去掉 */
  margin: 0;
  position: relative;
}
.indexPage .banner > .slide > li {
  width: 100vw;
  height: 30vw;
  min-height: 100px;
  float: left;
}
.indexPage .banner > .slide > li > img {
  width: 100%;
  min-height: 100px;
}
.indexPage .banner > .active {
  position: absolute;
  bottom: 0;
  left: 50%;
  list-style: none;
  transform: translateX(-70%);
}
.indexPage .banner > .active > li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #eee;
  font-size: 0px;
  cursor: pointer;
}
.slide-active {
  background-color: #3d4455 !important;
}
.indexPage .content {
  padding: 50px 100px;
  text-align: center;
}
.indexPage .product {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
}
.indexPage .product-item {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  justify-content: center;
}
.indexPage .product-item > img {
  width: 20rem;
  height: 20rem;
  min-width: 350px;
  min-height: 350px;
}
.indexPage .product-item .description {
  background-color: #eee;
  width: 20rem;
  height: 20rem;
  min-width: 350px;
  min-height: 350px;
  padding: 30px;
  font-size: 1rem;
  position: relative;
  box-sizing: border-box;
}
.indexPage .product-item .description p {
  text-align: left;
}
.indexPage .product-item .description > .info {
  color: #5c5c5c;
  width: 80%;
  font-size: 0.4rem !important;
  position: absolute;
  bottom: 40px;
  border-top: 1px solid #3d4455;
  padding-top: 30px;
  left: 10%;
}

.indexPage .news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.indexPage .news-item {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  flex: 1;
}

.indexPage .news-item:hover {
  background-color: #5c5c5c;
}

.indexPage .news-item > img {
  width: 10rem !important;
  height: 10rem !important;
  min-width: 300px;
  min-height: 300px;
}
.indexPage .news-item > div {
  text-align: left;
  font-size: 1rem;
  width: 10rem !important;
  min-width: 300px;
  padding: 5px;
  box-sizing: border-box;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.news-detail .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.news-detail .content img {
  padding: 20px 0;
  border-top: 1px solid #3d4455;
  border-bottom: 1px solid #3d4455;
}
.news-detail .title {
  text-align: center;
}
.news-detail .second-title {
  font-size: 0.2rem;
  color: #3d4455;
}
.news-detail p {
  margin: 40px 10%;
  font-size: 1rem;
  text-indent: 2;
}

.footer {
  width: 100%;
  padding: 30px 20%;
  box-sizing: border-box;
  background-color: #4f4f4f;
  color: #fff;
}
.footer .contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.footer .contact-item {
  width: 10rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .contact img {
  width: 5rem;
  height: 5rem;
}

.footer .contact-item div {
  min-height: 5rem;
  width: 10rem;
  min-width: 300px;
  font-size: 0.1rem;
  text-align: center;
  text-overflow: ellipsis;
  
}

.footer .copyright {
  border-top: 1px solid #fff;
  margin: 10px 0;
  padding: 20px;
  font-size: 0.5rem;
  text-align: center;
}

.news .content {
  padding: 50px 100px;
  text-align: center;
}

.news .content .news-page ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.news .content .news-page li {
  margin: 0 10px;
  font-size: 0.5rem;
  line-height: 40px;
  display: inline-block;
  background-color: #4f4f4f;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  color: #fff;
}
.news .content .news-page li:hover {
  background-color: #3d4455;
}
.news .content .news-page .active {
  background-color: #3d4455;
}

.news .news-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10%;
}
.news .news-content > div {
  display: flex;
  justify-content: center;
  width: 49%;
  min-width: 300px;
  margin: 1px;
  align-items: center;
}
@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.news .loading {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: linear-gradient(#3d4455, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: turn 1s linear infinite;
}
.news .loading > div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
}
.news .news-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4f4f4f;
  min-width: 300px;
  margin: 10px;
}
.news .news-item:hover {
  background-color: #5c5c5c;
}
.news .news-item > img {
  width: 15rem;
  height: 15rem;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
}
.news .news-item > .name {
  text-align: left;
  padding: 10px;
  font-size: 1rem;
  width: 15rem;
  min-width: 300px;
  min-height: 4rem;
  color: #fff;
}

.about .content {
  text-align: center;
  padding: 30px 10%;
}
.about .content .introduce {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.about .content .contact {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #4f4f4f;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.5rem;
  color: #fff;
  text-align: left;
}
.about .content .contact .contact-item {
  width: auto;
  display: flex;
  align-items: center;
}
.about .content .contact .contact-item > div {
  width: auto;
  max-width: 300px;
}
.about .content .contact .contact-item > img {
  width: 2rem;
  height: 2rem;
  min-width: 20px;
  min-height: 20px;
}
#allmap {
  width: 600px;
  min-height: 200px;
}
